.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  position: relative;
  overflow: hidden;
}

.card-custom-img img {
  transition: transform 0.5s ease;
}

.card-custom-img:hover img {
  transform: scale(1.1);
}

.card-custom-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-footer {
  background: inherit;
  border-color: inherit;
  text-align: center;
}

.card-footer a {
  margin-right: 10px;
}
