.software_engineer {
	font-size: 100px;
	font-weight: 900;
	font-family: "Montserrat";
}

.android_banner{
    height: 500px;
}

h1 {
	font-size: 70px;
	text-align: center;
	font-family: "Montserrat";
	font-weight: 400;
}