.software_engineer {
	font-size: 100px;
	font-weight: 900;
	font-family: "Montserrat";
}

.android_banner{
    height: 500px;
}

h1 {
	font-size: 70px;
	text-align: center;
	font-family: "Montserrat";
	font-weight: 400;
}

.sde-image{
	display: flex;
  	justify-content: center;
  	margin-left: 15%;
	border-radius: 5%;
	background:transparent;
}

.hello{
	font-weight: 500;
	margin-bottom: 45px;
}
.hello > span.name{
	display: block;
	font-weight: bold;
	background-color: #333333;
	font-style: italic;
	text-transform: uppercase;
	padding: 2%;
	background-image: linear-gradient(to right, #ff851b, #CB6EF3); /* Gradient background using orange and deep orange */
  -webkit-background-clip: text; /* Clip text to the background shape */
  color: transparent;
	/* color: #E2C6A0; */
}